<div class="container text-center">
  <h1>Cocktails 🚀</h1>
  <br>
  <div class="row justify-content-center">
    <div class="col-8">
      <% @cocktails.each do |cocktail| %>
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <br>
      <% end %>
    </div>
  </div>
  <%= link_to 'New', new_cocktail_path(@cocktail) %>
</div>


